* {
    padding: 0;
    margin: 0;
  }
  
body {
    width: 100%;
    background-image: url(https://img.freepik.com/free-photo/abstract-luxury-gradient-blue-background-smooth-dark-blue-with-black-vignette-studio-banner_1258-52379.jpg?w=1800&t=st=1678090644~exp=1678091244~hmac=0d8e77e0d35df0614a927483f886d64f0cb08e14cf44f9024937a3db5a822406);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.AnswerInput {
  width: 400px;
  height: 50px;
  position: relative;
  top: 250px;
  right: 450px;
  left: 0px;
  z-index: 900;
}

img {
  display: block;
}

.countryBlock {
  margin-top: 200px;
  /* border: 2px solid black; */
  width: 400px;
  height: 250px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.none {
  display: none;
}



.preloader {
  font-family: 'Poiret One', cursive;  text-align: center;
  width: 1440px;
  height: 1200px;
  margin-left: 0px;
  background-color: black;
  font-size: 30px;
  color: #ffffff;
  padding-top: 150px;
  animation: preload 1s forwards;
  z-index: 100;
}


@keyframes preload {
  0% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

main {
  position: relative;
  left: 25%;
  top: -500px;
}



.modalWin {
  position: relative;
  right: 0px;
  top: 100px;
  z-index: 999;
  width: 600px;
  height: 30px;
  background-color: aqua;
  box-shadow: 5px 5px 1px 1px yellow;
  border-radius: 60px;
  font-size: 30px;
  color: yellow;
}



.points {
  position: relative;
  width: 300px;
  height: 100px;
  border-radius: 100px;
  background-color: #ffffff;
  font-size: 100px;
  left: 50px;
  top: -600px;
  text-align: center;
}

.winWindow {
  position: relative;
  right: 400px;
  top: -500px;
  font-size: 50px;
}

.shadowRed {
  width: 1440px;
  height: 1200px;
  z-index: 999;
  background-color: red;
  opacity: 0.7;
  position: absolute;
  left: 0px;
  right: 700px;
  top: -100px;
}


.shadowGreen {
  width: 1440px;
  height: 1200px;
  z-index: 999;
  background-color: green;
  opacity: 0.7;
  position: absolute;
  left: 0px;
  right: 700px;
  top: -100px;
}


.helpBtn {
  position: relative;
  top: 150px;
  width: 50px;
  height: 50px;
  left: 800px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 900;
}
